name: ci

on: [push, pull_request]

env:
  X_PYTHON_VERSION: "3.10"

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.12"]



    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install coverage
        cd ./sdk
        pip install .
    - name: Test with coverage + unittest
      run: |
        cd ./sdk
        coverage run -m unittest
    - name: Report test coverage
      if: ${{ always() }}
      run: |
        cd ./sdk
        coverage report -m

  static-analysis:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ env.X_PYTHON_VERSION }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ env.X_PYTHON_VERSION }}
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pycodestyle mypy
        cd ./sdk
        pip install .
    - name: Check typing with MyPy
      run: |
        mypy sdk --exclude sdk/build
    - name: Check code style with PyCodestyle
      run: |
        pycodestyle --count --max-line-length 120 sdk

  readme-codeblocks:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ env.X_PYTHON_VERSION }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ env.X_PYTHON_VERSION }}
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pycodestyle mypy codeblocks
        cd ./sdk
        pip install .
    - name: Check typing with MyPy
      run: |
        mypy <(codeblocks python README.md)
    - name: Check code style with PyCodestyle
      run: |
        codeblocks --wrap python README.md | pycodestyle --count --max-line-length 120 -
    - name: Run readme codeblocks with Python
      run: |
        codeblocks python README.md | python

  docs:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ env.X_PYTHON_VERSION }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ env.X_PYTHON_VERSION }}
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r docs/docs-requirements.txt
    - name: Check documentation for errors
      run: |
        SPHINXOPTS="-a -E -n -W --keep-going" make -C docs html
